
.main{
    // min-height: 1500px;
    height: 100%;
}

.menu__rate{
    display: flex;
    flex-direction: column !important;
    gap: 20px;
    cursor: pointer;
    align-items: flex-start !important;
    position: relative;


    &-item{
        display: flex;
        width: 85%;

        flex-direction: column;
        a{
            padding: 20px 16px;
            border-radius: 14px;
            width: 100%;
            &:hover{
                background-color: #EBF0FA;
            }
        }
    }
}
.menu__link-arrow{
        background: url("/app/icns/arrow-down.svg") no-repeat ;
        background-position: 100% 60%;
        width: 55%;
}
.menu__notsee{
    display: none;
}
.settings{
    &__date{
        color: #E78366;
        font-weight: 700;
        &-prev, &-next{
            display: flex;
            align-items: center;
            justify-content: center;
            width:  20px;
            height: 20px;
            border-radius: 50%;
            background-color: #F4F6FA;
            border: none;
        }
        &-prev{
            margin-right: 24px;
            background: url('/app/icns/year-leftarrow.svg') no-repeat center, #F4F6FA;
        }
        &-next{
            margin-left: 24px;
            background: url('/app/icns/year-rightarrow.svg') no-repeat center, #F4F6FA;
        }

    }
    &__paid{
        &:hover{
            background-color: #80CCA3;
        }
    }
    &__booking{
        &:hover{
            background-color: #8AB0F8;
        }
    }
    &__request{
        &:hover{
            background-color: #ecd561;
        }
    }
}
@media (max-width: 1199px) {
    .main{
        // margin-left: 275px;
        display: grid;
        grid-template-columns: 110px 1fr; //147px
        gap: 30px;

        &__holder{
            display: flex;
            flex-direction: column;
            position: relative;

            right: 0;
        }
    }
    .settings{
        display: flex;
        height: 33.5px;
        position: relative;
        z-index: 6;
        >div{
            padding: 10px 13.4px;
            display: flex;
            border-radius: 14px;
            &:not(:first-child){
                margin-left: 14px;
            }
        }

        &__date{
            display: flex;

        }
        // &__date::before, &__date::after{
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     width:  13.4px;
        //     height: 13.4px;
        //     border-radius: 50%;
        //     background-color: #F4F6FA;
        // }
        // &__date::before{
        //     content: "<";
        //     margin-right: 24px;
        // }
        // &__date::after{
        //     content: ">";
        //     margin-left: 24px;
        // }
        &__month{
            background-color: white;
        }
        &__year, &__location{
            display: flex;
            &-container{
                background-color: white;
            }
        }
        &__location, &__year{
            &-container{
                position: relative;
            }
            &-listholder{
                position: absolute;
                z-index: 5;
                top: 50px;
                left: 0;
            }
            &-list{
                flex-direction: column;
                margin-top: 5px;
                width: 220px;
                background-color: #FFFFFF;
                border-radius: 20px;
                box-shadow: 7px 7px 40px 2px rgba(39, 79, 155, 0.2);
                p{
                    cursor: pointer;
                    padding: 16px;
                }
            }
        }
        &__year{
            &-container{
                width: 97px;
            }
            &-list{
                width: 97px;
            }
        }

        &__year::after, &__location::after{
            display: flex;
            content: url("/app/icns/arrow-down.svg");
            margin-left: 16px;
            align-items: center;
            justify-content: center;
            padding-bottom: 4px;
        }

        &__request{
            background-color: #FFE666;
        }
        &__booking{
            background-color: #B9D0FB;
        }
        &__paid{
            background-color: #99D6B5;
        }


    }

    .calendar{
        display: grid;
        grid-template-columns: 161px;
        margin-top: 14px;
        background-color: white;
        padding: 14px 30px 32px;
        border-radius: 30px;
        background-color: white;
        // overflow: scroll;
        // overflow-y: hidden;
        // position: relative;
        &__img{
            width: 13.4px;
            height: 13.4px;
        }
        &__sidebar{
            // display: grid;
            // grid-template-rows: repeat(18, 50px);

            // margin-top: 50px;
            >div{
                height: 30px;
                &:not(:first-child){
                    border-bottom: 1px solid #C6CEDF;
                    border-right: 1px solid #C6CEDF;
                }
                &:nth-child(2){
                    background-color: #EBF0FA;
                }

            }
            .sunrise{
                display: flex;
                height: 30px;
                width: 100%;
                font-size: 9.38px;
                font-weight: 700;
                line-height: 17px;
                justify-content: space-between;
                align-items: center;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #C6CEDF;
                border-right: 1px solid #C6CEDF;
                &:active{
                    outline: none;
                }
            }

            .sunrise::after{
                content: url("/app/icns/arrow-down.svg");
                margin-right: 20px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #F4F6FA;
            }

            .bay__item, .sand__item, .rahman__item, .rocky__item{

                font-size: 9.4px;
                line-height: 12px;
                font-weight: 500;
                padding-top: 17px;
            }

        }

        &__main{
            // display: grid;
            // grid-template-rows: repeat(18, 50px);
            display: block;
            margin-top: 172px;

        }
        &__popup{
            position:absolute;
            z-index: 7;
            // margin-bottom: 351px;
            // margin-right: -294px;
            height: 180.7px;
            bottom: 106px;
            left: -28px;
            // display: flex;
            flex-direction: column;
            width: 345.72px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            &-main{
                display: flex;
                flex-direction: column;
                margin: 0;
                // width: 343px;
                // flex-direction: column;
                padding: 18.12px 12.06px 22.11px 20.1px;
                background-color: white;
                border-radius: 20px;

                p{
                    font-size: 13px;
                    line-height: 27px;
                    span{
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 27px;
                    }
                }
            }
            &-holder{
                display: flex;
                justify-content: space-between;
            }
            &-submain{
                display: flex;
                flex-direction: column;
                width: 140.7px;
                position: relative;
                p{
                    font-size: 9.4px;
                    span{
                        font-size: 9.4px;
                    }
                }
                &:first-child::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 108px;
                    background-color: #C6CEDF;
                    right: -19px;
                    top: 35px;
                }
            }
            &-title{
                color: #8AB0F8;
                font-weight: 700;
            }
            &-action{
                margin-top: 14.74px;
                color: white;
                background-color: #8AB0F8;
                font-weight: 500;
                padding: 10.5px 14px 10.5px 20px;
                box-shadow: 7px 7px 30px 2px rgba(0, 88, 255, 0.15);
                border-radius: 14px;
                text-decoration: none;
                width: 90.74px;
                &:focus, &:active{
                    color: white;
                }

            }
            &-triangle{
                display: flex;
                margin-top: -3px;
                margin-left: 19px;

            }
        }

    }
    .left-popup{
        left: auto;
        right: -5px;
        .calendar__popup-triangle{
            margin-left: 470px;
            margin-top: -3px;
        }
    }
    .first{

    }
    .date__title{
        display: flex;
        align-items: center;
        padding: 13.4px;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        height: 30px;
        font-size: 9.38px;
    }
    .date__item{
        display: inline-block;
        // justify-content: center;
        // align-items: center;
    }

    .menu{
        &__holder{
            display: flex;
            // width: 275px;

        }

        &__list{
            list-style: none;
            flex-direction: column;
            a{
                text-decoration: none;
                color: black;
            }
            li{
                display: flex;
                align-items: center;
                margin-top: 30px;

            }
        }

        &__btn{
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 14px;
            margin-right: 15px;
            border: none;
            cursor: pointer;
            box-shadow: 7px 7px 30px 2px rgba(39, 79, 155, 0.07);

            &:active{
                outline: none;
            }
        }

    }
}
@media (min-width: 1200px) {
    .main{
        // margin-left: 275px;
        display: grid;
        grid-template-columns: 110px 1fr;
        gap: 15px;

        &__holder{
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 1560px;
            right: 0;
        }
    }
    .settings{
        display: flex;
        align-items: center;
        height: 50px;
        position: relative;
        z-index: 6;

        >div{
            padding: 12px 15px;
            display: flex;
            border-radius: 14px;
            &:not(:first-child){
                margin-left: 14px;
            }
            p{
                align-items: center;
            }
        }

        &__date{
            display: flex;
        }
        // &__date::before, &__date::after{
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     width: 20px;
        //     height: 20px;
        //     border-radius: 50%;
        //     background-color: #F4F6FA;
        // }
        // &__date::before{
        //     content: "<";
        //     margin-right: 24px;
        // }
        // &__date::after{
        //     content: ">";
        //     margin-left: 24px;
        // }
        &__month{
            background-color: white;
        }
        &__year, &__location{
            display: flex;
            &-container{
                background-color: white;
            }
        }
        &__location, &__year{
            &-container{
                position: relative;
            }
            &-listholder{
                position: absolute;
                z-index: 5;
                top: 50px;
                left: 0;
            }
            &-list{
                flex-direction: column;
                margin-top: 5px;
                width: 220px;
                background-color: #FFFFFF;
                border-radius: 20px;
                box-shadow: 7px 7px 40px 2px rgba(39, 79, 155, 0.2);
                p{
                    cursor: pointer;
                    padding: 16px;
                }
            }
        }
        &__year{
            &-container{
                width: 97px;
            }
            &-list{
                width: 97px;
            }
        }

        &__year::after, &__location::after{
            display: flex;
            content: url("/app/icns/arrow-down.svg");
            margin-left: 16px;
            align-items: center;
            justify-content: center;
            padding-bottom: 4px;
        }

        &__request{
            background-color: #FFE666;
        }
        &__booking{
            background-color: #B9D0FB;
        }
        &__paid{
            background-color: #99D6B5;
        }


    }

    .calendar{
        display: grid;
        grid-template-columns: 192px;
        margin-top: 14px;
        background-color: white;
        padding: 14px 30px 32px;
        border-radius: 30px;
        background-color: white;
        min-height: 346px;
        // overflow: scroll;
        // overflow-y: hidden;
        // position: relative;
        &__sidebar{
            // display: grid;
            // grid-template-rows: repeat(18, 50px);

            // margin-top: 50px;
            >div{
                height: 40px;
                &:not(:first-child){
                    border-bottom: 1px solid #C6CEDF;
                    border-right: 1px solid #C6CEDF;
                }
                &:nth-child(2){
                    background-color: #EBF0FA;
                }

            }
            .sunrise{
                display: flex;
                height: 40px;
                width: 100%;
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                justify-content: space-between;
                align-items: center;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #C6CEDF;
                border-right: 1px solid #C6CEDF;
                &:active{
                    outline: none;
                }
            }

            .sunrise::after{
                content: url("/app/icns/arrow-down.svg");
                margin-right: 20px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #F4F6FA;
            }

            .bay__item, .sand__item, .rahman__item, .rocky__item{

                font-size: 12px;
                line-height: 14px;
                font-weight: 500;
                padding-top: 17px;
            }

        }

        &__main{
            // display: grid;
            // grid-template-rows: repeat(18, 50px);
            display: block;
            margin-top: 188px;

        }
        &__popup{
            position:absolute;
            z-index: 7;
            // margin-bottom: 351px;
            // margin-right: -294px;
            height: 248px;
            bottom: 80px;
            left: -27px;
            // display: flex;
            flex-direction: column;
            width: 412.8px;
            &-main{
                display: flex;
                flex-direction: column;
                margin: 0;
                // width: 343px;
                // flex-direction: column;
                padding: 20px 14px 26.4px 24px;
                background-color: white;
                border-radius: 20px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                p{
                    font-size: 13px;
                    line-height: 27px;
                    span{
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 27px;
                    }
                }
            }
            &-holder{
                display: flex;
                justify-content: space-between;
            }
            &-submain{
                display: flex;
                flex-direction: column;
                width: 168px;
                position: relative;
                &:first-child::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 108px;
                    background-color: #C6CEDF;
                    right: -19px;
                    top: 35px;
                }
                p{
                    font-size: 12px;
                    span{
                        font-size: 12px;
                    }
                }
            }
            &-title{
                color: #8AB0F8;
                font-weight: 700;
            }
            &-action{
                margin-top: 10px;
                color: white;
                background-color: #8AB0F8;
                font-weight: 500;
                padding: 10.5px 14px 10.5px 20px;
                box-shadow: 7px 7px 30px 2px rgba(0, 88, 255, 0.15);
                border-radius: 14px;
                text-decoration: none;
                width: 122px;
                &:focus, &:active{
                    color: white;
                }

            }
            &-triangle{
                display: flex;
                margin-top: -3px;
                margin-left: 19px;

            }
        }

    }
    .left-popup{
        left: auto;
        right: -5px;
        .calendar__popup-triangle{
            margin-left: 470px;
            margin-top: -3px;
        }
    }
    .date__title{
        display: flex;
        align-items: center;
        padding-left: 20px;
        // padding: 20px;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        height: 50px;
    }
    .date__item{
        display: inline-block;
        // justify-content: center;
        // align-items: center;
    }

    .menu{
        &__holder{
            display: flex;
            margin-left: 15px;
            position: relative;
            // width: 275px;

        }
        &__list{
            list-style: none;
            width: 100%;

            a{
                width: 100%;
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
            }
            li{
                display: flex;
                align-items: center;
                margin-top: 30px;

            }
        }

        &__btn{
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 14px;
            margin-right: 15px;
            border: none;
            cursor: pointer;
            box-shadow: 7px 7px 30px 2px rgba(39, 79, 155, 0.07);

            &:active{
                outline: none;
            }
        }

    }
    .arrow-reveal{
        width: 30px;
        height: 30px;
        background-color: #EBF0FA;
        position: absolute;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        top: 164px;
        left: 65px;
        border-radius: 50%;
        z-index: 10;
    }
    .arrow-img{
        height: 20px;
        width: 20px;
    }
    .start, .finish{
        height: 40px;
        width: 30px;
    }
}
@media (min-width: 1400px) {
    .main{
        // margin-left: 275px;
        display: grid;
        grid-template-columns: 110px 1fr;
        gap: 15px;

        &__holder{
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 1560px;
            right: 0;
        }
    }
    .settings{
        display: flex;
        height: 50px;
        position: relative;
        z-index: 6;
        >div{
            padding: 15px 20px;
            display: flex;
            border-radius: 14px;
            &:not(:first-child){
                margin-left: 14px;
            }
        }

        &__date{
            display: flex;
        }
        // &__date::before, &__date::after{
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     width: 20px;
        //     height: 20px;
        //     border-radius: 50%;
        //     background-color: #F4F6FA;
        // }
        // &__date::before{
        //     content: "<";
        //     margin-right: 24px;
        // }
        // &__date::after{
        //     content: ">";
        //     margin-left: 24px;
        // }
        &__month{
            background-color: white;
        }
        &__year, &__location{
            display: flex;
            &-container{
                background-color: white;
            }
        }
        &__location, &__year{
            &-container{
                position: relative;
            }
            &-listholder{
                position: absolute;
                z-index: 5;
                top: 50px;
                left: 0;
            }
            &-list{
                flex-direction: column;
                margin-top: 5px;
                width: 220px;
                background-color: #FFFFFF;
                border-radius: 20px;
                box-shadow: 7px 7px 40px 2px rgba(39, 79, 155, 0.2);
                p{
                    cursor: pointer;
                    padding: 16px;
                }
            }
        }
        &__year{
            &-container{
                width: 97px;
            }
            &-list{
                width: 97px;
            }
        }

        &__year::after, &__location::after{
            display: flex;
            content: url("/app/icns/arrow-down.svg");
            margin-left: 16px;
            align-items: center;
            justify-content: center;
            padding-bottom: 4px;
        }

        &__request{
            background-color: #FFE666;
        }
        &__booking{
            background-color: #B9D0FB;
        }
        &__paid{
            background-color: #99D6B5;
        }


    }

    .calendar{
        display: grid;
        grid-template-columns: 240px;
        margin-top: 14px;
        background-color: white;
        padding: 14px 30px 32px;
        border-radius: 30px;
        background-color: white;
        min-height: 346px;
        // overflow: scroll;
        // overflow-y: hidden;
        // position: relative;
        &__sidebar{
            // display: grid;
            // grid-template-rows: repeat(18, 50px);

            // margin-top: 50px;
            >div{
                height: 50px;
                &:not(:first-child){
                    border-bottom: 1px solid #C6CEDF;
                    border-right: 1px solid #C6CEDF;
                }
                &:nth-child(2){
                    background-color: #EBF0FA;
                }

            }
            .sunrise{
                display: flex;
                height: 50px;
                width: 100%;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                justify-content: space-between;
                align-items: center;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #C6CEDF;
                border-right: 1px solid #C6CEDF;
                &:active{
                    outline: none;
                }
            }

            .sunrise::after{
                content: url("/app/icns/arrow-down.svg");
                margin-right: 20px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #F4F6FA;
            }

            .first-category, .second-category, .third-category, .fourth-category{

                font-size: 14px;
                line-height: 17px;
                font-weight: 500;
                padding-top: 17px;
            }

        }

        &__main{
            // display: grid;
            // grid-template-rows: repeat(18, 50px);
            display: block;
            margin-top: 188px;

        }
        &__popup{
            position:absolute;
            z-index: 7;
            // margin-bottom: 351px;
            // margin-right: -294px;
            height: 310px;
            bottom: 34px;
            left: -18px;
            // display: flex;
            flex-direction: column;
            width: 516px;
            &-main{
                display: flex;
                flex-direction: column;
                margin: 0;
                // width: 343px;
                // flex-direction: column;
                padding: 36px 18px 33px 30px;
                background-color: white;
                border-radius: 20px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                p{
                    font-size: 13px;
                    line-height: 27px;
                    span{
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 27px;
                    }
                }
            }
            &-holder{
                display: flex;
                justify-content: space-between;
            }
            &-submain{
                display: flex;
                flex-direction: column;
                width: 210px;
                position: relative;
                &:first-child::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 108px;
                    background-color: #C6CEDF;
                    right: -19px;
                    top: 35px;
                }
            }
            &-title{
                color: #8AB0F8;
                font-weight: 700;
            }
            &-action{
                margin-top: 22px;
                color: white;
                background-color: #8AB0F8;
                font-weight: 500;
                padding: 10.5px 14px 10.5px 20px;
                box-shadow: 7px 7px 30px 2px rgba(0, 88, 255, 0.15);
                border-radius: 14px;
                text-decoration: none;
                width: 122px;
                &:focus, &:active{
                    color: white;
                }

            }
            &-triangle{
                display: flex;
                margin-top: -3px;
                margin-left: 19px;

            }
        }

    }
    .left-popup{
        left: auto;
        right: -5px;
        .calendar__popup-triangle{
            margin-left: 470px;
            margin-top: -3px;
        }
    }
    .date__title{
        display: flex;
        align-items: center;
        padding: 20px;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        height: 50px;
    }
    .date__item{
        display: inline-block;
        // justify-content: center;
        // align-items: center;
    }

    .menu{
        &__holder{
            display: flex;
            margin-left: 15px;
            position: relative;
            // width: 275px;

        }
        &__list{
            list-style: none;
            a{
                text-decoration: none;
                color: black;
            }
            li{
                display: flex;
                align-items: center;
                margin-top: 30px;

            }
        }

        &__btn{
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 14px;
            margin-right: 15px;
            border: none;
            cursor: pointer;
            box-shadow: 7px 7px 30px 2px rgba(39, 79, 155, 0.07);

            &:active{
                outline: none;
            }
        }

    }
    .arrow-reveal{
        width: 30px;
        height: 30px;
        background-color: #EBF0FA;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 164px;
        left: 65px;
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
    }
    .arrow-img{
        height: 20px;
        width: 20px;
    }
    .start, .finish{
        height: 50px;
        width: 40px;
    }


}


.customer-name{
    position: absolute;
    z-index: 3;
    margin-left: 20px;
    width: 100px;
}

.customer-shortname{
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.start, .finish{
    display: flex;
    align-items: center;
    position: relative;
}
.start{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.finish{
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
   justify-content: center;
}